@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fd297b;
  --secondary: #ff655b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-itim);
}

body {
  background: linear-gradient(to bottom right, #ffe4e6, #fff1f2, #ffffff);
  color: var(--foreground);
  font-family: var(--font-itim), sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}